* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

body{
   background: #1F2937;

}

.container{
   width: 100vw;
   height: 100vh;
   color: white;
   position: relative;
   left: 162px;
   top: 110px;
}

.header{
   font-family: 'Karla';
   font-style: normal;
   font-weight: 800;
   font-size: 80px;
   line-height: 85px;
   letter-spacing: -0.025em;
}

.random {
   color: #4ADF86;
}

.supporting-text{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 40px;
   color: #D5D4D8;
   margin-top: 10px;
}

button {
   width: 250px;
   height: 42px;
   color: #ffffff;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   margin: 50px 0px 40px;
   border: none;
   border-radius: 6px;
   background: #10B981;
   padding: 9px 17px 9px 15px;
   cursor: pointer;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

}

.line {  
   width: 600px;
   background: #2F3E53;
   border: 1px solid #2F3E53;
}

.password-box-1, .password-box-2 {
   width: 275px;
   height: 39px;
   color: #55F991;
   text-align: center;
   background: #273549;
   border-radius: 6px;
   margin-right: 50px;
}


@media (max-width: 992px){
   .container{
      width: 100vw;
      height: 100vh;
      color: white;
      position: relative;
      left: 162px;
      top: 110px;
   }
   
   .header{
      font-family: 'Karla';
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 65px;
      letter-spacing: -0.025em;
   }
   
   .random {
      color: #4ADF86;
   }
   
   .supporting-text{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      color: #D5D4D8;
      margin-top: 10px;
   }
   
   button {
      width: 250px;
      height: 42px;
      color: #ffffff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 50px 0px 40px;
      border: none;
      border-radius: 6px;
      background: #10B981;
      padding: 9px 17px 9px 15px;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
   }
   
   .line {  
      width: 500px;
      background: #2F3E53;
      border: 1px solid #2F3E53;
   }
   
   .password-box-1, .password-box-2 {
      width: 225px;
      height: 39px;
      color: #55F991;
      text-align: center;
      background: #273549;
      border-radius: 6px;
      margin-right: 50px;
   }

}

@media (max-width: 768px){
   .container{
      width: 100vw;
      height: 100vh;
      color: white;
      position: relative;
      left: 162px;
      top: 110px;
   }
   
   .header{
      font-family: 'Karla';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 55px;
      letter-spacing: -0.025em;
   }
   
   .random {
      color: #4ADF86;
   }
   
   .supporting-text{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #D5D4D8;
      margin-top: 10px;
   }
   
   button {
      width: 250px;
      height: 42px;
      color: #ffffff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 50px 0px 40px;
      border: none;
      border-radius: 6px;
      background: #10B981;
      padding: 9px 17px 9px 15px;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
   
   }
   
   .line {  
      width: 450px;
      background: #2F3E53;
      border: 1px solid #2F3E53;
   }
   
   .password-box-1, .password-box-2 {
      width: 200px;
      height: 39px;
      color: #55F991;
      text-align: center;
      background: #273549;
      border-radius: 6px;
      margin-right: 50px;
   }
}

@media (max-width: 600px){
   .container{
      width: 100vw;
      height: 100vh;
      color: white;
      position: relative;
      left: 32px;
      top: 100px;
   }
   
   .header{
      font-family: 'Karla';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 45px;
      letter-spacing: -0.025em;
   }
   
   .random {
      color: #4ADF86;
   }
   
   .supporting-text{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #D5D4D8;
      margin-top: 10px;
   }
   
   button {
      width: 191px;
      height: 42px;
      color: #ffffff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 50px 0px 40px;
      border: none;
      border-radius: 6px;
      background: #10B981;
      padding: 9px 17px 9px 15px;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
   
   }
   
   .line {  
      width: 300px;
      background: #2F3E53;
      border: 1px solid #2F3E53;
   }
   
   .password-box-1, .password-box-2 {
      width: 140px;
      height: 39px;
      color: #55F991;
      text-align: center;
      background: #273549;
      border-radius: 6px;
      margin-right: 20px;
   }
}